.ingredientsContainer {
  margin-top: 10px;
  padding: 20px;
}
.ingredientTitle {
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.itemContainer {
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #ffff;
  display: flex;
  text-align: center;
}
.imageContainer {
  border-radius: 4px;
  margin: 5px 5px;
  padding: 10px;
}
.itemDetails {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  margin: 20px 60px;
}
